<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_cat_name">
    <%= form.label :cat_name %>
    <%# = form.collection_check_boxes :cat_id, current_user.cats, :id, :name, include_hidden: false %>
    <%= form.select :cat_id, current_user.cats.all.map{|cat|[cat.name, cat.id]}, include_blank: true %>
  </div>
  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="blog_disease_name">
    <%= form.label :disease_name %>
    <%= form.text_field :disease_name %>
  </div>
  <div class="blog_age_range">
    <%= form.label :age_range %>
    <%= form.select :age_range, Blog.age_ranges.keys.map {|k| [I18n.t("enums.blog.age_range.#{k}"), k]}, include_blank: true %>
  </div>


  <%= form.submit %>
<% end %>

<%= link_to '戻る', blogs_path %>