<div class="align-right mx-5">
  <%= link_to user_path(current_user) do %>
    <% if current_user.image.present? %>
      <%= image_tag current_user.image.url, class: "user_icon" %>
    <% else %>
      <%= image_tag asset_path('user_icon.jpg'), class: "user_icon" %>
    <% end %>
    <%= current_user.name %>
  <% end %>
</div>

<%= form_with(model: @blog, url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h5 class="has-text-danger-dark"><%= @blog.errors.count %>件のエラーがあります。</h5>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "誰の体験記ですか？", class: "label" %>
    <div class="select">
      <%= form.select :cat_id, current_user.cats.all.map{|cat|[cat.name, cat.id]}, include_blank: true %>
    </div>
  </div>

  <div class="field mt-5">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="field mt-5">
    <%= form.label :image, class: "label" %>
    <p>（複数選択が可能です）</p>
    <div id="file-js" class="file is-small has-name m-4">
      <label class="file-label">
        <%= form.file_field :images, direct_upload: true, multiple: true, class: "file-input" %>
        <span class="file-cta">
          <span class="file-icon"><i class="far fa-image"></i></span>
          <span class="file-label">ファイルを選択</span>
        </span>
        <span class="file-name">選択されていません</span>
      </label>
    </div>
    <% if @blog.images.attached? %>
      <div class="blog-attach-images">
        <% @blog.images.each do |image| %>
          <label for="blog_image_ids_<%= image.id %>" >
            <span>
              <%= form.check_box :image_ids, {multiple: true}, image.id, false %>削除<br>
              <%= image_tag image.variant(resize_to_limit: [275, 275]) %>
            </span>
          </label>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field mt-5">
    <%= form.label :content, class: "label" %>
    <%= form.text_area :content, class: "textarea", rows: "20"%>
  </div>

  <p class="border mt-6"></p>

  <div class="field m-5">
    <%= form.label :age_range, class: "label" %>
    <div class="select">
      <%= form.select :age_range, Blog.age_ranges.keys.map {|k| [I18n.t("enums.blog.age_range.#{k}"), k]}, include_blank: true %>
    </div>
  </div>

  <div class="field m-5">
    <%= form.label :disease_name, class: "label" %>
    <%= form.text_field :disease_name, class: "input" %>
  </div>

  <div class="field m-5">
    <%= form.label :symptom, class: "label" %>
    <p>カテゴリーを選択すると詳細が表示されます。（複数カテゴリー・詳細の選択が可能です）</p>
    <div class="select">
      <%= form.select :symptom_category, Symptom.categories.keys.map {|k| [I18n.t("enums.symptom.category.#{k}"), k]}, { include_blank: "選択してください" }, id: "input-select" %>
    </div>
    <div class="m-4">
      <% @blog.symptoms.each do |symptom| %>
        <div class="btn_detail">
          <%= form.check_box :symptom_ids, { multiple: true, disabled: symptom[:disabled], include_hidden: false }, symptom[:id] %>
          <%= form.label :symptom_ids, symptom.detail, value: symptom[:id] %>
        </div>
      <% end %>
    </div>
    <div class="js-details"></div>
  </div>

  <div class="actions align-right">
    <%= form.submit class: "button is-info m-5" %>
  </div>
<% end %>

<%= link_to '戻る', 'javascript:history.back()', class: "button is-light is-rounded m-4" %>

<script>
  const fileInput = document.querySelector('#file-js input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>

<script>
  document.addEventListener("turbolinks:load", function() {
    const inputSelect = document.getElementById("input-select");

    inputSelect.addEventListener("change", function() {
      const selectedValue = inputSelect.value;
      const selectedValuesCategoryCount = document.querySelectorAll(`[data-category=${selectedValue}]`).length

      if (!selectedValuesCategoryCount == 0) return;

      $.ajax({
        type: 'GET',
        url: '/blogs/get_details',
        data:  { symptom_category: selectedValue },
        dataType: 'json'
      })
      .done(function (details) {
        details.forEach(function(detail) {
          var id = detail[0];
          var detail = detail[1];
          $('.js-details').append(
            `<div class="btn_detail">
              <input type="checkbox" id="blog_symptom_ids_${id}" name="blog[symptom_ids][]" value="${id}">
              <label for="blog_symptom_ids_${id}" data-category="${selectedValue}">${detail}</label>
            </div>`
          );
        });
      })
    });
  })
</script>