<%= form_with(model: @blog, url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_cat_name">
    <%= form.label :cat_name %>
    <%= form.select :cat_id, current_user.cats.all.map{|cat|[cat.name, cat.id]}, include_blank: true %>
  </div>
  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>


  <div>
    <%= form.label :image %>
    <p>（複数選択が可能です）</p>
    <%= form.file_field :images, direct_upload: true, multiple: true %>
  </div>
  <% if @blog.images.attached? %>
    <p>現在登録されている画像（削除するものはチェックしてください）</p>
    <% @blog.images.each do |image| %>
      <%= form.check_box :image_ids, {multiple: true}, image.id, false %>
      <label for="blog_image_ids_<%= image.id %>" >
        <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
      </label>
    <% end %>
  <% end %>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="blog_disease_name">
    <%= form.label :disease_name %>
    <%= form.text_field :disease_name %>
  </div>
  <div class="blog_age_range">
    <%= form.label :age_range %>
    <%= form.select :age_range, Blog.age_ranges.keys.map {|k| [I18n.t("enums.blog.age_range.#{k}"), k]}, include_blank: true %>
  </div>

  <div class="blog_symptom">
    <%= form.label :symptom %><br>
    <p>カテゴリーを選択すると詳細が表示されます。（複数カテゴリー・詳細の選択が可能です）</p>
    <%= form.select :symptom_category, Symptom.categories.keys.map {|k| [I18n.t("enums.symptom.category.#{k}"), k]}, { include_blank: "選択してください" }, id: "input-select" %>
    <div>
      <% @blog.symptoms.each do |symptom| %>
        <div class="btn_detail">
          <%= form.check_box :symptom_ids, { multiple: true, disabled: symptom[:disabled], include_hidden: false }, symptom[:id] %>
          <%= form.label :symptom_ids, symptom.detail, value: symptom[:id] %>
        </div>
      <% end %>
    </div>
    <div class="js-details"></div>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to '戻る', 'javascript:history.back()' %>

<script>
  document.addEventListener("turbolinks:load", function() {
    const inputSelect = document.getElementById("input-select");

    inputSelect.addEventListener("change", function() {
      const selectedValue = inputSelect.value;
      const selectedValuesCategoryCount = document.querySelectorAll(`[data-category=${selectedValue}]`).length

      if (!selectedValuesCategoryCount == 0) return;

      $.ajax({
        type: 'GET',
        url: '/blogs/get_details',
        data:  { symptom_category: selectedValue },
        dataType: 'json'
      })
      .done(function (details) {
        details.forEach(function(detail) {
          var id = detail[0];
          var detail = detail[1];
          $('.js-details').append(
            `<div class="btn_detail">
              <input type="checkbox" id="blog_symptom_ids_${id}" name="blog[symptom_ids][]" value="${id}">
              <label for="blog_symptom_ids_${id}" data-category="${selectedValue}">${detail}</label>
            </div>`
          );
        });
      })
    });
  })
</script>