<h3>体験記一覧</h3>

<%= search_form_for @q, url: blogs_path do |f| %>
   <%= f.search_field :title_or_content_or_disease_name_or_symptoms_detail_cont, placeholder: '検索ワード' %>
   <%= f.select :age_range_eq, Blog.age_ranges_i18n.invert.map {|key, value| [key, Blog.age_ranges[value]]}, include_blank: "年齢で絞り込み" %>
   <%= f.select :cat_breed_id_eq, options_from_collection_for_select(Breed.all, :id, :name), include_blank: "猫種で絞り込み" %>
   <%= f.submit '検索' %>
<% end %>

<% if @pagy.vars[:count] > 0 %>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>病名</th>
      <th>年齢層</th>
      <th>投稿者</th>
      <th>投稿日</th>
    </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= blog.disease_name %></td>
      <td><%= blog.age_range_i18n %></td>
      <td><%= link_to "#{blog.user.name}", user_path(blog.user) %></td>
      <td><%= blog.created_at.strftime("%Y/%m/%d") %></td>
      <td><%= link_to '確認', blog_path(blog.id) %></td>
      <% if blog.user == current_user %>
        <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
        <td><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '削除してよろしいですか?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>検索結果は 0 件です。</p>
  <p>恐れ入りますが、検索条件を変更してください。</p>
<% end %>

<%== pagy_nav(@pagy) %>