<h3><%= @blog.user.name %>さんの体験記詳細画面</h3>

<p>タイトル：<%= @blog.title %></p>
<p>本文：<%= @blog.content %></p>
<p>病名：<%= @blog.disease_name %></p>
<p>年齢層：<%= @blog.age_range_i18n %></p>

<%= link_to '戻る', blogs_path %>