<h3><%= @blog.user.name %>さんの体験記詳細画面</h3>
<p>猫名：<%= @blog.cat.name if @blog.cat.present? %></p>

<p>タイトル：<%= @blog.title %></p>
<p>
  <% @blog.images.each do |image| %>
    <%= image_tag(image.variant(resize_to_limit: [200, 200])) %>
  <% end %>
</p>
<p>本文：<%= @blog.content %></p>
<p>病名：<%= @blog.disease_name %></p>
<p>年齢層：<%= @blog.age_range_i18n %></p>
<p>症状：
  <% @blog.symptoms.each do |symptom| %>
    #<%= symptom.detail %>
  <% end %>
</p>

<% if @blog.user == current_user %>
  <%= link_to '編集', edit_blog_path(@blog) %> |
<% end %>
<%= link_to '戻る', 'javascript:history.back()' %>