<h4><%= t('.title', resource: resource_name.to_s.humanize) %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <p class="has-text-danger-dark">*は必須項目です。</p>

  <div class="columns m-4">
    <div class="column is-narrow">
      <div class="field">
        <%= f.label :image, class: "label" %>
        <% if @user.image.present? %>
        <label>
          <%= image_tag @user.image.url, class: "main_icon" %>
          <%= f.check_box :remove_image %>削除
        </label>
        <% end %>
        <div id="file-js" class="file is-small is-boxed has-name mt-4">
          <label class="file-label">
            <%= f.file_field :image, class: "file-input" %>
            <span class="file-cta">
              <span class="icon"><i class="far fa-face-smile"></i>ファイルを選択</span>
            </span>
            <span class="file-name">選択されていません</span>
          </label>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <div>
          <%= f.label :name, class: "label inline_block" %><span class="has-text-danger-dark ml-1">*</span>
        </div>
        <div class="control">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input", placeholder: "登録したい名前を入力してください" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :introduction, class: "label" %>
        <div class="control">
          <%= f.text_area :introduction, autocomplete: "introduction", class: "textarea", rows: "10", placeholder: "プロフィールを入力してください。（ご自身のことや愛猫のことなどを紹介してください！）" %>
        </div>
      </div>
      <div class="field">
        <div>
          <%= f.label :email, class: "label inline_block" %><span class="has-text-danger-dark ml-1">*</span>
        </div>
        <div class="control">
          <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: "メールアドレスを入力してください" %>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>
    </div>
  </div>
  <div class="actions align-right">
    <%= f.submit t('.update'), class: "button is-info m-5" %>
  </div>
<% end %>

<p class="align-right mr-5"><%= link_to t('.cancel_my_account'), cancellation_user_path(current_user) %></p>

<%= link_to '戻る', 'javascript:history.back()', class: "button is-light is-rounded m-2" %>

<script>
  const fileInput = document.querySelector('#file-js input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>