<p class="title is-4">あなたの回答と関連性のある情報はこちらです。</p>

<h4>AIからの回答結果</h4>
  <div class="ChatGpt_result">
    <%= @result %>
  </div>

<h4 class="mt-6">検索した症状に関連する体験記一覧</h4>
<% if @blogs.count > 0 %>
  <% @blogs.each do |blog| %>
    <div class="box">
      <article class="media px-5">
        <div class="media-content">
          <div class="content">
            <p>
              <%= link_to user_path(blog.user) do %>
                <% if blog.user.image.present? %>
                  <%= image_tag blog.user.image.url, class: "index_icon" %>
                <% else %>
                  <%= image_tag asset_path('user_icon.jpg'), class: "index_icon" %>
                <% end %>
                <small><%= blog.user.name %></small>
              <% end %>
              <small class="ml-4"><i class="fa-regular fa-calendar mr-1"></i><%= blog.created_at.strftime("%Y/%m/%d") %></small>
            </p>
            <h4 class="mt-2"><%= link_to blog.title, blog_path(blog.id) %></h4>
            <p class="txt-limit">
              <%= blog.content %>
            </p>
            <p>
              <% if blog.disease_name.present? %>
                <small>病名： <%= blog.disease_name %></small>
              <% end %>
              <% if blog.symptoms.present? %>
                <% blog.symptoms.each do |symptom| %>
                  <div class="button is-small is-rounded is-static m-1"><%= symptom.detail %></div>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="media-right">
          <%=  link_to image_tag(blog.images.first, class: "index_image"), blog_path(blog.id) if blog.images.attached? %>
        </div>
      </article>
    </div>
  <% end %>
<% else %>
  <p>大変申し訳ございませんが、検索した症状に関連する体験記は 0 件です。</p>
<% end %>

<%= link_to '戻る', 'javascript:history.back()', class: "button is-light is-rounded m-4" %>