<progress class="progress is-link" value="90" max="100">90%</progress>

<h3>猫種の選択</h3>

<%= form_with url: search_results_path, method: :get do |form| %>
  
  <div class="field">
    <p>該当する項目を選んで「結果を見る」を押してください。<br>
    （猫種で絞り込みを行わない場合は、何も選択せずに「結果を見る」へ進んでください。）</p>
    <div class="select mt-5 ml-4">
      <%= form.select :breed_name, @breeds.map{|b|[b.name, b.name]}, include_blank: "選択してください" %>
    </div>
  </div>

<p class="align-center mt-6">
  ＊結果が表示されるまでに少々お時間がかかります。<br>
  恐れ入りますが、「結果を見る」ボタン押下後、そのまましばらくお待ちください。
</p>
<%= form.submit '結果を見る', name: nil, class: "button is-fullwidth is-pink is-medium is-rounded mt-4", id:"result_button" %>
<span id="loading" style="display:none;">
  <div><%= image_tag asset_path('cat_loading.gif'), class: "loading-img" %></div>
</span>
<% end %>

<%= link_to '戻る', 'javascript:history.back()', class: "button is-fullwidth is-light is-rounded mt-5" %>

<script>
$('input#result_button').click(function(e) {
  e.preventDefault();
  $('form').submit();
  $('#result_button').hide(); 
  $('#loading').show();
});
</script>