<h3>猫種の選択</h3>

<%= form_with url: search_results_path, method: :get, local: true do |form| %>
  
  <div class="field">
    <p>該当する項目を選んで「結果を見る」を押してください。<br>
    （猫種で絞り込みを行わない場合は、何も選択せずに「結果を見る」へ進んでください。）</p>
    <strong><%= form.label :breed_name %></strong>
    <%= form.select :breed_name, @breeds.map{|b|[b.name, b.name]}, include_blank: "選択してください" %>
  </div>

<%= form.submit '結果を見る', name: nil, class: "button is-fullwidth is-pink is-medium is-rounded mt-6"  %>
<% end %>

<%= link_to '戻る', 'javascript:history.back()', class: "button is-fullwidth is-light is-rounded mt-5" %>