<%= form_with(model: @cat, local: true ,url: choose_new_or_edit_about_cat ) do |form| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= @cat.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cat_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <% if @cat.image.present? %>
    <p>現在登録されている画像</p>
    <p>（削除する場合はチェックしてください。変更する場合は変更したい画像を選択してください。）</p>
    <label>
      <%= image_tag @cat.image.url, class: "main_icon" %>
      <%= form.check_box :remove_image %>削除
    </label>
    <% end %><br>
    <%= form.file_field :image %>
  </div>

  <div class="cat_introduction">
    <%= form.label :introduction %>
    <%= form.text_field :introduction %>
  </div>
  <div class="cat_birthday">
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>
    <div class="cat_breed_name">
    <%= form.label :breed_name %>
    <%= form.select :breed_id, Breed.all.map{|b|[b.name, b.id]}, include_blank: "選択してください"%>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to '戻る', 'javascript:history.back()', class: "button is-light is-rounded m-4" %>