<%= form_with(model: @cat, local: true ,url: choose_new_or_edit_about_cat ) do |form| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= @cat.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="cat_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="cat_introduction">
    <%= form.label :introduction %>
    <%= form.text_field :introduction %>
  </div>
  <div class="cat_birthday">
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>
    <div class="cat_breed_name">
    <%= form.label :breed_name %>
    <%= form.select :breed_id, Breed.all.map{|b|[b.name, b.id]}, include_blank: "選択してください"%>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to '戻る', blogs_path %>