<h3><%= @cat.user.name %>さんの猫情報詳細画面</h3>

<p>名前：<%= @cat.name %></p>
<p>紹介文：<%= @cat.introduction %></p>
<p>生年月日：<%= @cat.birthday.strftime("%Y/%m/%d") if @cat.birthday.present? %></p>
<p>猫種名：<%= @cat.breed.name %></p>

<% if @cat.user == current_user %>
  <td><%= link_to '編集', edit_cat_path(@cat.id) %></td>
  <td><%= link_to '削除', cat_path(@cat.id), method: :delete ,data: { confirm: '削除してよろしいですか?' } %></td>
<% end %>

<%= link_to '戻る', blogs_path %>