<h3><%= @cat.user.name %>さんの猫情報詳細画面</h3>

<div>
  <% if @cat.image.present? %>
    <%= image_tag @cat.image.url, class: "main_icon" %>
  <% else %>
    <%= image_tag asset_path('cat_icon.jpg'), class: "main_icon" %>
  <% end %>
</div>
<p>名前：<%= @cat.name %></p>
<p>紹介文：<%= @cat.introduction %></p>
<p>生年月日：<%= @cat.birthday.strftime("%Y/%m/%d") if @cat.birthday %></p>
<p>猫種名：<%= @cat.breed.name %></p>

<% if @cat.user == current_user %>
  <td><%= link_to '編集', edit_cat_path(@cat.id) %></td>
  <td><%= link_to '削除', cat_path(@cat.id), method: :delete ,data: { confirm: '削除してよろしいですか?' } %></td>
<% end %>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>病名</th>
    <th>年齢層</th>
    <th>投稿者</th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= blog.disease_name %></td>
    <td><%= blog.age_range_i18n %></td>
    <td><%= blog.user.name %></td>
    <td><%= link_to '確認', blog_path(blog.id) %></td>
    <% if blog.user == current_user %>
      <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
      <td><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '削除してよろしいですか?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to "#{@cat.name}の体験記一覧へ", blog_list_cat_path %>

<%= link_to '戻る', 'javascript:history.back()' %>