<!DOCTYPE html>
<html>
  <head>
    <title>CatSaver</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h3>CatSaver</h3>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "症状から調べる", select_symptom_path %>
        <%= link_to "体験記を見る", blogs_path %>
        <% if user_signed_in? %>
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "ユーザー登録", new_user_registration_path %>
        <% end %>
      </nav>
    </header>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    <footer>
      <div>&copy;Min. 2023</div>
    </footer>
  </body>
</html>
